# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/
ENV/

# Environment variables
.env

# Alembic migrations cache
alembic/__pycache__/
alembic/versions/*.pyc

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
